:root {
	/* --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	--column-margin-top: 4rem;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	color: black;

	--color-board: #cdc1b5;
	--color-board-border: #bbada0;
	--color-empty: rgb(204, 192, 179);

	--color-game-over: rgb(238, 228, 218, 0.73);

	--font-size-low: 40; /* 2, 4, 6, 8, 16, 32, 64 */
	--font-size-mid: 30; /* 128, 256, 512 */
	--font-size-high: 20; /* 1024, 2048, 4096 ... */

	--font-color-light: rgb(249, 246, 242);
	--font-color-dark: rgb(119, 110, 101);
}

.red {
	color: red;
}

body {
	min-height: 100vh;
	background-color: #979a94;
	display: flex;
	justify-content: center;
	text-align: center;
}

.top-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
	font-size: 20px;
	color: black;
	opacity: 60%;
}

.main-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.game-over {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 410px;
	height: 410px;
	min-width: 410px;
	min-height: 410px;
	background-color: var(--color-board);
	border: 5px solid;
	border-color: var(--color-board-border);
}

.tile {
	width: 100px;
	height: 100px;
	border: 5px solid;
	border-color: var(--color-board-border);
	font-weight: bold;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
}

h1 {
	font-size: 45px;
	font-weight: 900;
}

p {
	font-weight: 500;
}

hr {
	width: 500px;
	/* border-color: #645d52; */
	border-color: black;
	border-style: solid;
	opacity: 60%;
}

button {
	margin: 5px;
	width: 120px;
	height: 45px;
	background-color: var(--color-board-border);
}

.newtile {
	/* text-decoration: underline; */
	animation: pop 0.5s;
}

/* Tile colors */

.x2 {
	background-color: rgb(238, 228, 218);
	color: var(--font-color-dark);
}
.x4 {
	background-color: rgb(237, 224, 200);
	color: var(--font-color-dark);
}
.x8 {
	background-color: rgb(242, 177, 121);
	color: var(--font-color-dark);
}
.x16 {
	background-color: rgb(245, 149, 99);
	color: var(--font-color-light);
}
.x32 {
	background-color: rgb(246, 124, 95);
	color: var(--font-color-light);
}
.x64 {
	background-color: rgb(246, 94, 59);
	color: var(--font-color-light);
}
.x128 {
	background-color: rgb(237, 207, 114);
	color: var(--font-color-light);
}
.x256 {
	background-color: rgb(237, 204, 97);
	color: var(--font-color-light);
}
.x512 {
	background-color: rgb(237, 200, 80);
	color: var(--font-color-light);
}
.x1024 {
	background-color: rgb(237, 197, 63);
	color: var(--font-color-light);
}
.x2048 {
	background-color: rgb(237, 194, 46);
	color: var(--font-color-light);
}
.x4096 {
	background-color: var(--color-other);
	color: var(--font-color-light);
}

@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	50% {
		opacity: 0.5;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
